body {
    background: #be6145; /* from */
    background: #a55446; /* to */
    background: #4f948d; /* from */
    background: #50867a; /* to */
    background: #CC9900;
    background: #f5b697;
    background: #EDCAC2;
}